.viewCustomer{
    height: 3000px;
}
.viewCustomer div{
    text-transform: capitalize;
}
*{
    margin: 0;
    padding: 0;
}
.b-none{
    border: none;
}
.formHeight{
    height: 400px;
}
.moneyInput{
    height: 40px;
     border:none;
     outline: none;
     border: 1px solid lightgrey;
     border-radius: 5px;
}
.home{
    height: 300px;
}